<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        အခြေခံစားသောက်ကုန်များ
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{webRoot}}/category.html">ငရုတ်မှုန့်</a></li>
        <li><a class="dropdown-item" href="{{webRoot}}/category.html">ဆော့</a></li>
        <li><a class="dropdown-item" href="{{webRoot}}/category.html">ဟင်းခက်အမွှေးအကြိုင်</a></li>
        <li><a class="dropdown-item" href="{{webRoot}}/category.html">လက်ဖက်</a></li>
        <li><a class="dropdown-item" href="{{webRoot}}/category.html">ခေါက်ဆွဲ</a></li>
        <li><a class="dropdown-item" href="{{webRoot}}/category.html">အချိုပွဲ</a></li>
      </ul>
  </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          အဖျော်ယမကာများ
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{webRoot}}/category.html">အသင့်သောက်ဖျော်ရည်</a></li>
          <li><a class="dropdown-item" href="{{webRoot}}/category.html">သစ်သီးဖျော်ရည်</a></li>
          <li><a class="dropdown-item" href="{{webRoot}}/category.html">ကော်ဖီ</a></li>
          <li><a class="dropdown-item" href="{{webRoot}}/category.html">လက်ဖက်ရည်</a></li>
          <li><a class="dropdown-item" href="{{webRoot}}/category.html">နို့နှင့်ဒိန်ချဉ်</a></li>
          <li><a class="dropdown-item" href="{{webRoot}}/category.html">ဖျော်ရည်အနှစ်</a></li>
        </ul>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="{{webRoot}}/category.html" role="button">
          အထူးလျော့စျေး
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          နမူနာ စာမျက်နှာများ
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{webRoot}}/index.html">မူလစာမျက်နှာ</a></li>
          <li><a class="dropdown-item" href="{{webRoot}}/category.html">ပစ္စည်းအမျိုးအစား</a></li>
          <li><a class="dropdown-item" href="{{webRoot}}/product.html">ကုန်စ္စည်း</a></li>
          <li><a class="dropdown-item" href="{{webRoot}}/cart.html">စျေးခြင်း</a></li>
          <li><a class="dropdown-item" href="{{webRoot}}/checkout.html">ငွေချေရန်</a></li>
          <li><a class="dropdown-item" href="{{webRoot}}/login.html">Login</a></li>
          <li><a class="dropdown-item" href="{{webRoot}}/register.html">Register</a></li>
          <li><a class="dropdown-item" href="{{webRoot}}/forgotten-password.html">Forgotten Password</a></li>
        </ul>
      </li>
  </ul>