<footer class="border-top py-5 mt-4 {{configClassList}} {{classList}}">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row">
            <div>
                <ul class="list-unstyled">
                    <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                            href="#"><i class="ri-instagram-fill"></i></a></li>
                    <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                            href="#"><i class="ri-facebook-fill"></i></a></li>
                    <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                            href="#"><i class="ri-twitter-fill"></i></a></li>
                    <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                            href="#"><i class="ri-snapchat-fill"></i></a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center justify-content-end flex-column flex-lg-row">
                <p class="small m-0 text-center text-lg-start">&copy; 2022 MmSoftware100 All Rights Reserved. Template by <a
                        href="https://mmsoftware100.com">MmSoftware100</a></p>
                
            </div>
        </div>
    </div>
</footer>