<ul class="list-group mb-5 d-none d-lg-block rounded-0">
    {{#if show-contact}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <span class="text-muted small me-2 f-w-36 fw-bolder">ဆက်သွယ်ရန်</span>
            <span class="small">ဉီးအောင်သုခ</span>
        </div>
        <a href="{{webRoot}}/checkout.html" class="text-muted small" role="button">ပြင်ဆင်ရန်</a>
    </li>
    {{/if}}
    {{#if show-delivery}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <span class="text-muted small me-2 f-w-36 fw-bolder">လိပ်စာ</span>
            <span class="small">တောင်ညိုလမ်း၊ မင်းကြီးညိုရပ်ကွက်၊ တောင်ငူမြို့။</span>
        </div>
        <a href="{{webRoot}}/checkout-shipping.html" class="text-muted small" role="button">ပြင်ဆင်ရန်</a>
    </li>
    {{/if}}
    {{#if show-method}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <span class="text-muted small me-2 f-w-36 fw-bolder">Delivery</span>
            <span class="small">Royal Express</span>
        </div>
        <a href="{{webRoot}}/checkout-shipping.html" class="text-muted small" role="button">ပြင်ဆင်ရန်</a>
    </li>
    {{/if}}
</ul>