<div class="pb-3">
    <!-- Cart Item-->
    {{>
        cart/cart-item 
        img="{{webRoot}}/assets/images/products/product-cart-1.jpg"
        border="true"
        showQty="true"
        name="မာလာရှမ်းကော"
        qty="1"
        options="အစပ်"
        price="2,500 MMK"
    }}
    <!-- / Cart Item-->
    <!-- Cart Item-->
    {{>
        cart/cart-item 
        img="{{webRoot}}/assets/images/products/product-cart-2.jpg"
        border="true"
        showQty="true"
        name="ချောကလက်"
        qty="1"
        options="ရိုမန့် အရသာ"
        price="4,000 MMK"
    }}
    <!-- / Cart Item-->
</div>
<div class="py-4 border-bottom">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <p class="m-0 fw-bolder fs-6">ပစ္စည်းတန်ဖိုး</p>
        <p class="m-0 fs-6 fw-bolder">5,000 MMK</p>
    </div>
    <div class="d-flex justify-content-between align-items-center ">
        <p class="m-0 fw-bolder fs-6">Delivery ခ</p>
        <p class="m-0 fs-6 fw-bolder">1,500 MMK</p>
    </div>
</div>
<div class="py-4 border-bottom">
    <div class="d-flex justify-content-between">
        <div>
            <p class="m-0 fw-bold fs-5">စုစုပေါင်း</p>
            <span class="text-muted small">အခွန် 200 MMK ပါဝင်ပြီးဖြစ်</span>
        </div>
        <p class="m-0 fs-5 fw-bold">6,700 MMK</p>
    </div>
</div>
{{#if show-action-buttons}}
<!-- Accept Terms Checkbox-->
<div class="form-group form-check my-4">
    <input type="checkbox" class="form-check-input" id="accept-terms" checked>
    <label class="form-check-label fw-bolder" for="accept-terms">I agree to Outdoorly's <a href="#">terms &
            conditions</a></label>
</div>
<a href="{{webRoot}}/order-success.html" class="btn btn-dark w-100" role="button">Complete Order</a>
{{/if}}
