<div class="cart-dropdown dropdown-menu">

    <!-- Cart Header-->
    <div class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-4">
        <h6 class="fw-bolder m-0">စျေးခြင်းတောင်း (2 ခု)</h6>
        <i class="ri-close-circle-line text-muted ri-lg cursor-pointer btn-close-cart"></i>
    </div>
    <!-- / Cart Header-->

    <!-- Cart Items-->
    <div>

        <!-- Cart Product-->
        {{> 
            cart/cart-item 
            img="{{webRoot}}/assets/images/products/product-cart-1.jpg"
            name="မာလာဟင်း အနှစ်"
            qty="1"
            options="အစပ်အရသာ"
            price="3,400 MMK"
        }}

        <!-- Cart Product-->
        {{> 
            cart/cart-item 
            img="{{webRoot}}/assets/images/products/product-cart-2.jpg"
            name="ချောကလက်"
            qty="1"
            options="ရိုမန့် အရသာ"
            price="2,400 MMK"
        }}

    </div>
    <!-- /Cart Items-->

    <!-- Cart Summary-->
    <div>
        <div class="pt-3">
            <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-start mb-4 mb-md-2">
                <div>
                    <p class="m-0 fw-bold fs-5">စုစုပေါင်း</p>
                    <span class="text-muted small">အခွန် 200 MMK ပါဝင်ပြီး</span>
                </div>
                <p class="m-0 fs-5 fw-bold">5,400 MMK</p>
            </div>
        </div>
        <a href="{{webRoot}}/cart.html" class="btn btn-outline-dark w-100 text-center mt-4" role="button">စျေးခြင်းတောင်း ကြည့်ရန်</a>
        <a href="{{webRoot}}/checkout.html" class="btn btn-dark w-100 text-center mt-2" role="button">ငွေပေးချေရန်</a>
    </div>
    <!-- / Cart Summary-->
  </div>

